/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8b8b8b;
}
h1,
h2,
h3,
h4{
    font-weight: 500;
    color: black;
}
/*UTILITIES*/

 /*LAYOUT*/
.container{
    width: 1200px;
    margin: 0 auto;
}
 
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}
.float-left{
    float: left;
} 
.w-50{
    width: 50%;
}

/*LISTE*/
.liste-inline li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}
.liste-inline li:first-child{
    margin-left: 0;
}
/*BUTTONS*/
.bottons{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center; 
    color: white;
    border: 1px solid #fff;
    border-radius: 5px;
}
.bottons.bottons-green{
    background: #7cbb01;
    border: 1px solid transparent;
}
.bottons.bottons-big{
    padding: 10px;
}
/*HEADER*/
.main-header{
    line-height: 80px;
    text-transform: uppercase; /*maiuscola*/
    font-size: 12px;
    background: #0d325a;
}
.main-header .logo{
    width: 15%;
}
.main-header .logo img{
    vertical-align: middle
}

.main-header .nav-centrale{
    width: 45%; 
}

.main-header .nav-destra{
    width: 40%;
    text-align: right;
}
.main-header a{
    text-decoration: none;
    color: #fff;
}
.main-header a:hover{
    color: rgba(124, 187, 1,1);
}

.main-header a.bottons{
    line-height: 1;   /*usi il 100% che prendi da sopra*/
}
/*HERO*/
.hero{
    height: 480px;
    line-height: 50px;
    background:#0d325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% 110%; 
}  
.hero .container{
    position: relative;
    height:100%;
}
.hero .hero-text{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.hero .hero-text h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
}
/*MAIN DESCRIZIONE*/
.text-2{
    height: 100px;
    text-align: center;
    line-height: 30px;
    background: #d3d3d3;
    padding-top: 20px; 
}
/*SEZIONE SPIEGAZIONE*/
.explain .container {
    height: 100%;
    margin-bottom: 50px;   
}

/*H2 COLOR*/
.title-green{
    color: #92c62c;
 }
 
 /*HR DELLE FOTO*/
hr{
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 160px;
}
/*PARAGARFO*/
p{
    font-size: 14px;
    line-height: 1.6;  
}
/*PRIMA FOTO*/
.profile{
    width: 32%;
    margin-right: 1%;
    text-align: center;
}

.profile img{
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
/*SECONDA FOTO*/
.computer{
    width: 32%;
    margin: 1%;
    text-align: center;
}
.computer img{
    height: 115px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

/*TERZA FOTO*/
.doc{
    width: 32%;
    margin-right: 1%;
    text-align: center;
    
}
.doc img{
    height: 110px;
    margin-top: 20px;
    margin-bottom: 15px;   
}

/*MAIN FOOTER*/
.main-footer{
    padding-bottom: 30px;
}
.image img{
    height: 400px;
    padding-left: 50px;
}
.text-mont{
    font-size: 25px;
}
.mont{
    font-size: 20px;
    padding-bottom: 20px;
} 
/*BOOTONE MONTAGNE*/
.bot-mont{
    font-size: 14PX;
    color:blue;
}
.bot-mont:hover{
    color:crimson;
}